@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: 'Segoe Print';
  src: local('Segoe Print'),
       url('https://db.onlinewebfonts.com/t/3a47f5f06b7994e16a8a1ab1c2423324.eot'),
       url('https://db.onlinewebfonts.com/t/3a47f5f06b7994e16a8a1ab1c2423324.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/3a47f5f06b7994e16a8a1ab1c2423324.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/3a47f5f06b7994e16a8a1ab1c2423324.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}